<!DOCTYPE html>
<html>
<head>
  <title>OrBareket</title>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Roboto:300,500,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    '//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css' %>
  <%= stylesheet_link_tag    '//cdn.jsdelivr.net/jquery.slick/1.5.6/slick-theme.css' %>
  <%= stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
